<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/ekko.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-text">
          <h2>Edit your ART</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title contact-title">
          <span></span>
          <h2>Update your shared ART</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="leave-comment">
          <form (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" id="name" required [(ngModel)]="art.name" name="name" placeholder="Title">
            <input type="text" class="form-control" id="descrip" required [(ngModel)]="art.descrip" name="descrip" placeholder="Description">
            <input type="text" class="form-control" id="artist" required [(ngModel)]="art.artist" name="artist" placeholder="The artist's name">
            <input type="text" class="form-control" id="image" required [(ngModel)]="art.image" name="image" placeholder="image">
            <!-- <input type="file" class="form-control" id="image" name="image" accept="image/*" [(ngModel)]="art.image">-->
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
