<!DOCTYPE html>
<html lang="en">

<div>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>


<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="logo">
          <a href="./index.html">
            <img src="/img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="nav-menu">
          <ul>

            <li> <a routerLink="arts" class="nav-link" routerLinkActive="active">Home</a></li>
            <li> <a routerLink="add" class="nav-link" routerLinkActive="active">Add your Art</a></li>
            <li> <a routerLink="dashboard" class="nav-link" routerLinkActive="active">Profile</a></li>

          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="top-option">
          <div class="to-search search-switch">
            <i class="fa fa-search"></i>
          </div>

        </div>
      </div>
    </div>
    <div class="canvas-open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<div >

      <router-outlet></router-outlet>
    </div>



<!-- footer section -->
<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="fs-about">
          <div class="fa-logo">
            <a href="#"> <img src="assets/img/logo.png" alt=""> </a>
          </div>

        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Useful links</h4>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">Subscribe</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
</div>
