<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/Diana.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-text">
          <h2>Sign UP</h2>
        </div>
      </div>
    </div>
  </div>
</section>




  <section class="contact-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title contact-title">
            <span>SIGN UP</span>
            <h2>And Start sharing your ART</h2>
            <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="leave-comment">
            <form >
              <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
              <input type="password" class="formControl" placeholder="Password" #userPwd required>
              <input type="button" class="btn-outline-warning" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
            </form >
          </div>
        </div>
      </div>

    </div>
  </section>
