<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/vayne.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb-text">
          <h2>Your Profile</h2>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About US Section Begin -->
<section class="aboutus-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="about-video set-bg" style="background-color: #1b1e21">
          <img src="assets/img/logo.png">
        </div>
      </div>
      <div class="col-lg-6 p-0" >
        <div class="about-text" style="background-color: #1b1e21" *ngIf="authService.userData as user" >
          <div class="section-title">
            <span>Profile Details:</span>
            <h2>User</h2>
          </div>
          <div class="about-bar">
            <div class="ab-item">
              <!-- <p>{{user.uid}}</p> -->
              <div id="bar1" class="barfiller">
                <span class="fill" data-percentage="80"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>{{user.email}}</p>
              <div id="bar2" class="barfiller">
                <span class="fill" data-percentage="85"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>

            <button (click)="authService.SignOut()" class="btn btn-outline-warning">Log Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
